www
ca
nginx.conf
index.html
test.sh
*.old

#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.ipch
*.res
*.sdf
*.opensdf
*.tlog
*.idb
*.dll
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

#sphinx
_build
_static
_templates

#python
*.pyc
*.pkl
__pycache__

#emacs
*~
\#*\#
\.\#*
\.~*\#

#R
.RData
.Rhistory

#archive
*.iso
*.gz
*.zip
*.tar
*.db
*.csv
*.xz

#tmp
forenzic
cboe-spy-*
_data

#node
node_modules
package-lock.json

#jupyter notebook
.ipynb_checkpoints/
