https://caddy.example.com {
  tls /etc/ssl/toyca/server-ca-1/certs/caddy.example.com/cert-im.pem /etc/ssl/toyca/server-ca-1/certs/caddy.example.com/key.pem
}

https://ec.P-256.example.com:8444 {
  tls /etc/ssl/toyca/server-ca-2/certs/ec.P-256.example.com/cert-im.pem /etc/ssl/toyca/server-ca-2/certs/ec.P-256.example.com/key.pem {
    protocols tls1.3 tls1.3
  }
}
# caddy 
# https://ec.ed25519.example.com:8445 {
#   tls /etc/ssl/toyca/server-ca-2/certs/ec.ed25519.example.com/cert-im.pem /etc/ssl/toyca/server-ca-2/certs/ec.ed25519.example.com/key.pem
# }
